<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}AstronautMarkus.Dev{% endblock %} | AstronautMarkus.Dev</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block head %}{% endblock %}
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>

<body>

    <div class="page-wrapper">
        <div class="header-top-nav">
            <a href="{{ url_for('main.home') }}">{% if current_lang == 'en' %}Home{% else %}Inicio{% endif %}</a>
            <a href="/lang/en?next={{ request.path }}"{% if current_lang == 'en' %} class="active"{% endif %}>{% if current_lang == 'en' %}English{% else %}Inglés{% endif %}</a>
            <a href="/lang/es?next={{ request.path }}"{% if current_lang == 'es' %} class="active"{% endif %}>{% if current_lang == 'en' %}Spanish{% else %}Español{% endif %}</a>
        </div>

        <header class="header-main">
            <div class="logo-area">
                <div>
                    <span class="logo-title">AstronautMarkus.Dev</span>
                    <span class="logo-subtitle">Endless Seeker</span>
                </div>
            </div>

        </header>

        <nav class="main-nav">
            <a href="#">{% if current_lang == 'en' %}About Me{% else %}Sobre Mí{% endif %}</a>
            <a href="#">{% if current_lang == 'en' %}Projects & Portfolio{% else %}Proyectos y Portafolio{% endif %}</a>
            <a href="#">{% if current_lang == 'en' %}Image Gallery{% else %}Galería de Imágenes{% endif %}</a>
            <a href="#">{% if current_lang == 'en' %}Blog{% else %}Blog{% endif %}</a>
            <a href="#">{% if current_lang == 'en' %}Contact Me{% else %}Contáctame{% endif %}</a>
            <a href="#">{% if current_lang == 'en' %}Extras{% else %}Extras{% endif %}</a>
            <a href="#">{% if current_lang == 'en' %}Beercat Project{% else %}Proyecto Beercat{% endif %}</a>
        </nav>

        <div class="content-container">
            <aside class="sidebar">
                <div class="panel-box">
                    <div class="panel-header">{% if current_lang == 'en' %}Index{% else %}Índice{% endif %}</div>
                    <ul class="menu-list">
                        <li><a target="_blank" href="{{ cv_url }}">{% if current_lang == 'en' %}Download CV{% else %}Descargar CV{% endif %}</a></li>
                        <li><a href="#">Homelab</a></li>
                        <li><a href="#">{% if current_lang == 'en' %}Tech Stack{% else %}Pila Tecnológica{% endif %}</a></li>
                        <li><a href="#">{% if current_lang == 'en' %}Timeline{% else %}Cronología{% endif %}</a></li>
                        <li><a href="#">{% if current_lang == 'en' %}Career{% else %}Carrera{% endif %}</a></li>
                        <li><a href="#">{% if current_lang == 'en' %}Guestbook{% else %}Libro de Visitas{% endif %}</a></li>
                    </ul>
                </div>

                <div class="panel-box">
                    <div class="panel-header">Spotlight</div>
                    <div class="spotlight-content">
                        <div>XS Engineering, Inc. has just acquired a new building.</div>
                        <div class="spotlight-img"></div>
                    </div>
                </div>
            </aside>

            <main class="main-content">
                {% block content %}{% endblock %}
            </main>
        </div>

        <footer>
            <div>&copy;2024 - {{ current_year }} AstronautMarkus.Dev - ALL RIGHTS RESERVED</div>
            <div>POWERED BY: <a href="https://flask.palletsprojects.com/" target="_blank">Flask</a>, <a
                    href="https://caddyserver.com/" target="_blank">Caddy Http Server</a>, <a
                    href="https://www.oracle.com/linux/" target="_blank">Oracle Linux</a></div>
        </footer>
    </div>

</body>

</html>