{% extends "emails/base.html" %}
{% set lang = 'es' %}

{% block subject_title %}Nuevo mensaje: {{ subject }}{% endblock %}

{% block content %}
<h1>Nuevo mensaje de contacto</h1>
<p>Recibiste un nuevo mensaje desde el formulario de contacto de AstronautMarkus.Dev.</p>
<table class="data-table">
    <tr>
        <td class="label">De</td>
        <td>{{ name }} &lt;{{ email }}&gt;</td>
    </tr>
    <tr>
        <td class="label">Asunto</td>
        <td>{{ subject }}</td>
    </tr>
    <tr>
        <td class="label">Mensaje</td>
        <td style="white-space:pre-wrap">{{ message }}</td>
    </tr>
</table>
{% endblock %}
