<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>Index of /</title>
</head>

<body>
    <h1>Index of /</h1>
    <ul>
        <li><a href="{{ url_for('kanarianlintu.env')}}"> .env</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> admin/</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> backup/</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> config/</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> css/</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> images/</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> includes/</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> index.php</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> info.php</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> js/</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> login.php</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> logs/</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> phpinfo.php</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> readme.txt</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> robots.txt</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> tmp/</a></li>
        <li><a href="{{ url_for('kanarianlintu.fail')}}"> uploads/</a></li>
    </ul>

</body>

</html>