<div class="junk-webring-widget">
    <div>{{ 'Part of the AstronautMarkus.dev Junk Webring' if current_lang == 'en' else 'Parte del Webring de Basura de AstronautMarkus.dev' }}</div>
    <div class="ring-controls">
        <a href="{{ ring_prev }}"><i class="fa-solid fa-chevron-left"></i> {{ 'Prev' if current_lang == 'en' else 'Anterior' }}</a>
        <a href="{{ ring_random }}"><i class="fa-solid fa-shuffle"></i> {{ 'Random' if current_lang == 'en' else 'Aleatorio' }}</a>
        <a href="{{ ring_next }}">{{ 'Next' if current_lang == 'en' else 'Siguiente' }} <i class="fa-solid fa-chevron-right"></i></a>
        <a href="{{ ring_list }}"><i class="fa-solid fa-list"></i> {{ 'List' if current_lang == 'en' else 'Listado' }}</a>
    </div>
</div>
